@charset "utf-8";
@font-face {
    font-family:SpeedeeK;
    font-weight:400;
    font-style:normal;
    src: url(../font/Speedee_K_L.eot);
    src: url(../font/Speedee_K_L.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_L.woff) format('woff'),
         url(../font/Speedee_K_L.ttf) format('truetype'),
         url(../font/Speedee_K_L.svg#webfont) format('svg')}
body{
    margin: 0;
}

.navSpace{
    width: 100%;
    height: 140px;
    background-color: rgb(233, 233, 176);
    position: absolute;
    top: 0;
    left: 0;
    /* 배너 위 간격 없애기1 */
    display: flex;
}
.topBanner{
    width: 100%;
    height: 220px;
    background-color:coral;
    position: relative;
    top: 140px;
    background-image: url(../images/comp_top_image.jpg);
    /*배너 위 간격 없애기 2  */
    display: inline-block;
}
.topBanner .topWrap{
    width: 1200px;
    position: relative;
    /* top: 20px; */
    margin: 0 auto;
    color: #fff;
}
.topBanner .topWrap h1{
    font-size: 50px;
}
.topBanner .topWrap p{
    font-size: 20px;
}
.contentWrap{
    position: relative;
}
.contentWrap .tabButton{
    width: 1200px;
    height: 80px;
    background-color: rgb(66, 56, 56);
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.contentWrap .tabButton a{
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 30%;
    top: 20px;
    font-family: SpeedeeK;
}
.contentWrap .tabButton .first{
    color: #DB0007;
    margin-right: 70px;
}
.contentWrap .tabButton .second{
    color: #808080;
}
.contentWrap .imgBanner{
    width: 1168px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    top: 250px;
    display: none;
}
.contentWrap .imgBanner.on{
    display: block;
}
.contentWrap .imgBanner img{
    width: 100%;
    height: 100%;
}