/* promotion */
html{margin:0;height:100%}
body{height:100%;background:#fff;word-wrap:break-word;word-break:keep-all}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,button{margin:0;padding:0}
body,input,select,textarea,button,pre{font-family:SpeedeeK, Malgun Gothic,'맑은 고딕', Dotum,'돋움', Arial, sans-serif;color:#808080;font-size: 16px;font-weight: 500;line-height:1.9;}
section,nav,article,aside,hgroup,header,footer,iframe{display:block}
form,fieldset,img,input,button {border:0 none;background:none}
img {margin:0;padding:0;line-height:0;vertical-align:top;}
em{font-style:normal}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:500}
ul,ol,li{list-style:none outside}
a{text-decoration:none;color:inherit}
#container {width: 100%;}
.content .contArea{padding: 30px 0 60px;}
.content .contArea.bgG{background:#fbfbfb}
.content .contArea>:first-child{margin-top:0!important}
.content .contArea>.inner{position:static!important;}
.inner {position: relative;width: 1168px;margin: 0 auto;}
.visualArea{display:flex;position:relative;min-height: 220px;padding: 10px 0;color:#292929;text-align:left;}
.visualArea .inner{display:flex;flex-direction:column;justify-content:center;height: 200px;margin:auto;padding-bottom: 15px;}
.visualArea .titDep1{color:inherit;font-size: 50px;}
.visualArea .subCopy{min-height: 34px;margin-top: 20px;font-size: 18px;}
.visualArea .navPath{position:absolute;bottom:0;left:0}
.tabType01{margin:0 -40px 60px;text-align:center}
.tabType01 li{display:inline-block;margin:0 40px;vertical-align:top}
.tabType01 li a{display:block;height:40px;font-size:20px;line-height:39px;cursor:pointer;}
.tabType01 li a[aria-selected="true"]{color:#db0007;font-weight:600;border-bottom:1px solid #db0007}
.tabCont, .subtabCont{display:none;position:relative}
.cardBanner{margin:0 0 -35px -35px}
.cardBanner:after{content:'';display:block;clear:both}
.cardBanner li{float:left;width:366px;height:438px;margin:0 0 35px 35px}
.cardBanner li a{display:block;overflow:hidden;height:100%;border-radius:10px;box-shadow:0 3px 4px rgba(0,0,0,.1)}
.cardBanner li .con{padding:24px 30px}
.cardBanner li .con .tit{display:-webkit-box;display:block;height:90px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical;font-size:18px;color:#292929;font-weight:600;line-height:1.7}
.cardBanner #endmenu .end a{position:relative;cursor:pointer;}
.cardBanner #endmenu .end a .tmb, .cardBanner #endmenu .end a .con .tit{opacity:0.1}
.cardBanner #endmenu .end a:before {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.05);border-radius:10px}
.cardBanner #endmenu .end a span {display:block;position:absolute;top:50%;left:0;width:100%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);color:#292929;font-size:18px;text-align:center;font-weight:550;}
.btnMore{margin-top:80px;text-align:center}
.btnMore .more{display:inline-block;width:90px;height:90px;overflow:hidden;vertical-align:top;text-indent:-9999px;background:url(../images/btn_more.png) 0 0 no-repeat}
.visualArea.bgWhats01 {
    color: #fff;
    background: url(../images/bg_visual_whats02.jpg) 50% 50% no-repeat;
}
.visualArea[class="bgWhats01"] .inner {
    height: 170px;
    margin: 60px auto 0;
}
.TrueRed{
    color: #db0007;
    font-weight: 600;
    border-bottom: 1px solid #db0007;
    /* display: block; */
    height: 40px;
    font-size: 20px;
    line-height: 39px;
    }
.FalseRed
    {
    display: block;
    height: 40px;
    font-size: 20px;
    line-height: 39px;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    }
.navPath li {
    display: inline-block;
}
.titDep1 {
    display: block;
    color: #292929;
    font-size: 55px;
    line-height: 1;
}
.navPath li {
    display: inline-block;
    color:white;
    font-weight: 700;
    font-size: 16px;
}
.navPath li+li:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 14px0 10px;
    vertical-align: middle;
    border-radius: 100%;
    background: #f5bd43;
}
.none{display:none;}

/* find a store */
*{/* -webkit-text-size-adjust:none; *//* -webkit-box-sizing:border-box; */-moz-box-sizing:border-box;box-sizing:border-box;}
.visualArea.bgStore01{color:#fff;background:url(../images/store/bg_visual_store01.jpg) 50% 0% no-repeat}
.visualArea[class="bgStore01"] .inner{height:170px;margin:60px auto 0}
.storeFind .srvcFilter .service{margin-left:-20px}
.storeFind .srvcFilter .service:after{content:'';display:block;clear:both}
.storeFind .srvcFilter .service>span{display:block;position:relative;float:left;width:149px;height:149px;margin-left:20px; margin-bottom:20px;}
.storeFind .srvcFilter .service>span input{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0}
.storeFind .srvcFilter .service>span label{display:block;color:#000;position:relative;padding:101px 0 35px;border:1px solid #d1d1d1;border-radius:10px;text-align:center;background:#fff;font-size:15px; z-index:1;height:100%;}
.storeFind .srvcFilter .service>span.on label{background:#000}
.storeFind .srvcFilter .service>span input:checked+label{color:#fff;}
.storeFind .srvcFilter .service>span input:focus+label{outline:1px dotted #292929}
.storeFind .srvcFilter .service>span label .icon {position:absolute; top:0; left:0; z-index:-1;margin-top:40%;margin-left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%)}

.srchBox:before{content:'';position:absolute;left:0;right:0;height:150px;background:#f8f8f8}
.srchBox .form{position:relative;padding:40px 0;padding-right:184px}
.srchBox .form input{width:100%;padding:0 38px}
.srchBox .form .selectWrap{vertical-align:middle}
.srchBox .form .selectWrap + input{display:inline-block;width:auto;margin-left:7px;vertical-align:middle}
.srchBox .form .selectWrap .ui-selectmenu-button{background:#fff}
.srchBox .form > button{position:absolute;top:50%;right:0;width:172px;margin-top:-35px}

.focusLine{position:relative}
.focusLine:before{content:'';position:absolute;width:100%;height:100%;border:1px dotted #000}
.titDep4{display:block;margin:50px 0 30px;color:#292929;font-size:20px;line-height:1}
input[type='text'], input[type='password'], input[type='tel'], input[type='number'], input[type='search'], input[type='email'], input[type='date'] {
    color: #292929;
    height: 70px;
    padding: 0 28px;
    line-height: 1;
    border: 1px solid #d1d1d1;
    border-radius: 70px;
    background: #fff;
    -webkit-appearance: none;
    vertical-align: middle;
}
/* .storeFind .storeFind_bg {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
} */
.btnArea{margin-top:100px;text-align:center}
.btnArea .btnMC{margin:0 12px}
.btnArea .txtInfo{margin-top:45px}
.btnMC{display:inline-block;color:#292929;font-weight:600;background:#ffbc0d}
.btnMC.action{color:#fff;background:#da0000}
.btnL{min-width:200px;padding:0 50px;font-size:18px;line-height:90px;border-radius:90px}
.btnM{min-width:172px;padding:0 38px;font-size:15px;line-height:70px;border-radius:70px}
.btnS{min-width:100px;padding:0 25px;font-size:13px;line-height:34px;border-radius:34px}

.storeResult .map{/* overflow:hidden; */height:600px;margin-top:50px;border-radius:10px;background:#f8f8f8;}
.storeResult .map .marker{display:block;position:absolute;width:54px;height:70px}
.storeResult .mcStore{margin-top:80px}
.storeResult .mcStore+.noResult {margin-top:40px;padding:40px 0 0;border-top:2px solid #292929;}
.storeResult .mc_current {display:inline-block;margin-top:30px;width:260px;height:50px;background:#ffbc0d;border-radius:50px}
.storeResult .mc_current span {display:block;padding-left:25px;background:url(../images/store/bg_ico_map.png) no-repeat 35px 50%;color:#292929}

.managerTbl{margin-top:45px}
.managerTbl .tableType01 td{text-align:left}
.col2:after{display:block;content:'';clear:both}
.col2 > *{float:left;width:50%}
.tableType01{border-top:2px solid #292929;border-bottom:1px solid #292929}
.tableType01 th, .tableType01 td{text-align:center;vertical-align:top;border-top:1px solid #d1d1d1}
.tableType01 th{padding:25px 12px;color:#292929;font-weight:500}
.tableType01 th[scope="row"]{text-align:left;border-right:1px solid #292929}
.tableType01 td{padding:25px;text-align:center}
.tableType01 td.tleft{padding-left:40px}
.tableType01 thead th{border-bottom:1px solid #292929}

.mcStore td{vertical-align:middle;padding:20px 0px 20px 0;}
.mcStore .tdName{text-align:left}
.mcStore .tdName .name dt{height:40px;margin:0 0 15px}
.mcStore .tdName .name dt .ico{display:inline-block;width:30px;height:30px;margin:-2px 10px 0 0;color:#fff;font-size:14px;font-weight:500;line-height:30px;text-align:center;vertical-align:middle;border-radius:100%;background:#da0000}
.mcStore .tdName .name dt .tit{color:#292929;font-size:20px;font-weight:500}
/* .mcStore .tdName .name dt */

.noResult{color:#292929;font-size:30px;text-align:center}
.noResult:before{content:'';display:block;width:360px;height:360px;margin:0 auto 40px;background:url(../images/common/bg_noresult.png) 0 0 no-repeat}
.noResult.nobg:before {display:none;}
