#sub3img {
    position: absolute;
    z-index:-1;
}

.inner1 {
    position: absolute;
    color : #ffffff;
    padding-left:0px;
}

.inner1 a {
    /* position: absolute; */
    color : #ffffff;
    /* padding-left:0px; */
}

.inner2 li {
    display:inline-block;margin:0 40px;vertical-align:top   
    /* position: relative;
    top : 250px;
    color : red;
    /* text-align: center */
    /* text-decoration: underline; text-underline-position:under; */ 
}

.inner2 li a{
    display:block;height:40px;font-size:20px;line-height:39px
}

.inner2 li a[aria-selected="true"]
    {color:#db0007;font-weight:600;border-bottom:1px solid #db0007}