#sub3img {
    position: absolute;
    z-index:-1;
}

.content .contArea{padding: 30px 0 60px;}
.content .contArea.bgG{background:#fbfbfb}
.content .contArea>:first-child{margin-top:0!important}
.content .contArea>.inner{position:static!important}    

.visualArea.bgWhats01{
    color:#fff;
    background:url(/images/bg_visual_whats02.jpg) 50% 50% no-repeat
}
.visualArea[class*="bgWhats"] .inner{height:170px;margin:60px auto 0}

.tabType01 {
    position: absolute;
    top : 300px;
}

#promotionList {
    position: absolute;
    top : 400px;
}

#deletebtn {
    position: absolute;
    top : 300px;
    left : 200px;
}

.tab_menu{position:relative;}
        .tab_menu .list{overflow:hidden;}
        .tab_menu .list li{float:left; margin-right:14px;}
        .tab_menu .list .btn{font-size:30px;}
        .tab_menu .list .cont{display:none; position:relative; color:black; text-align:center; height:100px; line-height:100px;}
        .tab_menu .list li.is_on .btn{font-weight:bold; color:red;}
        .tab_menu .list li.is_on .cont{display:block;position:absolute;left:25px;top:200px;}
        #sub3img {
        position: absolute;
        z-index:-1;
        }
#end { opacity:0.5;}

      